:root {
    --white: #FFF;
    --black: #000;
    --50-black: rgba(0, 0, 0, 0.5);
    --15-black: rgba(0, 0, 0, 0.15);

    --yellow: #FFC736;
    --blue: #095CFF;
    --blue-dark: #084ED9;
    --15-blue: rgba(9, 92, 255, 15%);
    --30-blue: rgba(9, 92, 255, 30%);

    --sng-green: #31FF00;
    --red: #FF1B1C;
}

.text-blue {
    color: var(--blue) !important;
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black) !important;
}

.text-50-black {
    color: var(--50-black);
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-15-blue {
    background-color: var(--15-blue) !important;
}

.bg-30-blue {
    background-color: var(--30-blue) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}
